<div class="main-card">
  <h1>神籤 -SHIN-SEN-</h1>
  
  <p class="home-description">
    毎日1回だけ神籤を引くことができます。
  </p>

  <%= button_to "神籤を引く",
      draw_omikujis_path,
      method: :post,
      class: "btn btn-puffy draw-button" %>
</div>

<div class="home-actions">

  <%= link_to "神籤履歴",
      history_omikujis_path,
      class: "btn btn-rare draw-button" %>

  <%= link_to "実績データ",
      users_stats_path,
      class: "btn btn-rare" %>

</div>