<div class="main-card">
  <h1>神籤 -SHIN-SEN-</h1>

  <p>毎日1回、運勢を占えます。</p>

  <%= link_to "神籤を引く", draw_omikuji_path, class: "btn btn-primary" %>

  <%= link_to "神籤履歴を見る", history_omikuji_path, class: "history-link" %>
</div>
